<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />

<!-- ============ import common css ========== -->
<link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
<link rel="stylesheet" href="/assets/css/main.css" />
<link rel="stylesheet" href="/assets/css/style.css" />
<link rel="stylesheet" href="/assets/css/navigators/navbar.css" />

<!--=================== cdn ==============================-->
<link href="https://fonts.googleapis.com/css2?family=Muli:wght@300;400;500;600" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />

<!--================= fab-icon =========================-->
<link rel="icon" type="image/png" href="/assets/images/favicon.png" />

<!--================= custom style overrides =========================-->
<link rel="stylesheet" href="/assets/css/style.css" />
<style>
@media screen and (max-device-width: 480px) {
  #blogContent {
      padding-top: 30%;
  }
  .footer li {
  margin-top: 0px;
}
}
@media screen and (min-device-width: 481px) {
  #blogContent {
      padding-top: 20%;
  }
}
.card-title-custom{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  min-height: 48px;
}
.social-link {
  list-style: none;
  padding: 0.2rem;
}

.social-link a {
  font-size: 1.5rem;
  color: #3c4858;
  padding: 0.5rem;
}

.social-link a:hover {
  color: #248aaa;
  transition: all 0.3s ease-in;
}
</style>
